.work:hover{
    background-color: yellow;
    border-color: yellow;
    color: black;
}
@keyframes wave{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    }
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(10deg);
    }
    60%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

nav ul li a:hover{
    color: yellow;
}
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

nav ul li a.active{
    color: green;
}
.work:hover #right-arrow{
    transform: rotate(90deg);
}
.speciality-gif img:hover{
    transform: translateY(-15px);
    box-shadow: 0 8px 50px #23232380;
}

.skills-img:hover{
    transform: translateY(-15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
@keyframes up{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}